*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: brown;
}
/* next 5 days header */
h3{
    font-weight: bold;
    color: white;
    background-color: blue;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}
.forecast{
    
    font-size: 15px;
}
span{
    font-size: 15px;
}
/* boxes list group citys */
li{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* list group citys */
li:hover{
    background-color: orangered;
}
/* current weather container */
#current-weather{
    background-color: skyblue;
    border-radius: 10px;
}
p{
    color: white;
}
/* current city title */
#current-city{
    color: white;
    background-color: red;
    border-radius: 10px;
    text-align: center;
}
.col-sm-4{
    border-radius: 10px;
}
/* clear btn*/
#clear-history{
    background-color: black;
}
/*clear btn hover  */

#clear-history:hover{
    background-color: red;
}
h4{
    margin-top: 5px;
    text-align: center;
}